// Fonts
$body-font = Helvetica Neue, Open Sans, sans-serif
$mono-font = Menlo, monospace

// Margins
$pad     = 40px  // Space between things
$sidepad = 30px  // Padding to the left of the sidebar
$minipad = 20px  // Space for mobile
$vmargin = 10px  // Margin between blocks

// Colors
$offwhite = #f3f6fb
$grey = #9090aa
$txt = #505050
$accent = #3cc * 0.85
$line = #e4e7ec * 0.98

// Misc
$shadow-str = 0.1

// Dimensions
$sidebar-width = 230px
$content-width = 550px
$pre-width = 380px

body:not(.no-literate) .content
  > pre
      + p, ul, ol
        clear: left

.title-card
  position: relative;

  > .in
    position: absolute
    margin: auto
    height: 200px
    width: 600px
    top: 0
    bottom: 0
    left: 0
    right: 0

    > *
      display: inline-block
      text-align: center

    .headline
      background: rgba($offwhite, 0.8)
      padding: 10px 5px


    h1
      font-size: 32px
      color: $txt
      text-shadow: $grey 1px 1px 0
      font-weight: bold

    p
      color: $grey
      font-weight: bold
      font-family: montserrat, sans-serif

    h5
      position: absolute;
      bottom: 0
      left: 0
      right: 0

      > span
        text-transform: uppercase
        font-size: 26px
        font-family: montserrat, sans-serif
        color: $offwhite
        border: 4px solid $offwhite
        background: rgba($txt, 0.3)
        padding: 10px


.content
  ul, ol
    padding-left: 60px !important
    margin-left: 0px;

    ul, ol
      padding-left: 20px !important

div.clear-both
  border: none
  padding: 0
  margin: 0
  clear: both

table
  box-sizing: border-box
  width: $content-width

  th
    font-weight: bold
    border-bottom: 1px solid $accent

    &:not(:first-child)
      text-align: center

  tr:not(:last-child) > td
    border-bottom: 1px solid $line

  th, td
    padding: 2px

    &:not(:last-child)
      border-right: 1px solid $line

.menu a
  width: 100%

  &.active:after
    right: -10px

@media (min-width: 1180px) /* Big desktop */
  body:not(.no-literate)
    table
      padding-left: $pad
      float: left
      clear: left

p.footnote
  font-size: 0.85em

sup
  vertical-align: super
  font-size: 0.85em